<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
      <!-- lien relatif vers page giraffe -->      
      <ion-item routerLink='giraffe'>
        <ion-label>Giraffe</ion-label>
      </ion-item>
      <!-- lien absolu vers page lion -->
      <ion-item [routerLink]="['/lion']">
        <ion-label>Lion</ion-label>
      </ion-item>
      <!-- nav par fonction vers page zebre -->
      <ion-item (click)="navToZebra()">
        <ion-label>Zebra</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  
</ion-content>
